{% extends 'base.html' %}
{% load static %}


{% block title %} Admin site {% endblock title %}
{% block content %}
<h1>Admin sahifasi</h1>
<h3>Barcha adminlar</h3>

<table class="table table-bordered table-responsive table-striped">
    <tr>
        <th>Username</th>
        <th>Ismi</th>
        <th>Familiyasi</th>
    </tr>
    {% for admin in admin_users %}
    {% csrf_token %}
    <tr>
        <td>{{ admin.username }}</td>
        <td>{{ admin.first_name }}</td>
        <td>{{ admin.last_name }}</td>
    </tr>
    {% endfor %}
</table>



{% endblock content %}