{% extends 'base.html' %}

{% load static %}

{% load hitcount_tags %}
{% load i18n %}
{% block content %}
  <section id="contentSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'news_list' %}">{% blocktrans %} Bosh sahifa {% endblocktrans %}</a></li>
              <li><a href="#">{{ news.category }}</a></li>
              <li class="active">{{ news.title }}</li>
            </ol>
            <h1>{{ news.title }}</h1>
            <div class="post_commentbox"> <a href="#"></a> <span><i class="fa fa-calendar"></i>{{ news.publish_time }}</span> <a href="#"><i class="fa fa-tags"></i>{{ news.category }}</a>
              <i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for news %} </div>
            <div class="single_page_content"> <img class="img-center" src="{{ news.image.url }}" alt="">
              <blockquote>{{ news.body | safe }}</blockquote>
              {% if request.user.is_superuser %}
              <center>
                <a href="{% url 'update' news.slug %}"style="background: orange; color: white; border: none; padding: 10px 20px; margin: 10px; cursor: pointer; border-radius: 5px; ;">Update</a> |
                <a href="{% url 'delete' news.slug %}"style="background: red; color: white; border: none; padding: 10px 20px; margin: 10px; cursor: pointer; border-radius: 5px;">Delete</a>
              </center>
              <ul>
              {% endif %}

                <li>Yangilik {{ news.publish_time }} {% blocktrans %}  da qoyildi📌 {% endblocktrans %}</li>
                <li>{{ news.category }}</li>
                <li>{{ news.title }} {% blocktrans %} yangiligi haqida malumotℹ️{% endblocktrans %}</li>
              <button class="btn default-btn">{{ news.publish_time }}</button>
              <button class="btn btn-blue">{{ news.category }}</button>
              <button class="btn btn-black">{{ news.title }}</button>
              <button class="btn default-btn" href="https://t.me/+Leabp8IdeOg5ZWMy">{% blocktrans %} Telegram kanalimizni kuzatib boring {% endblocktrans %}</button>
              <form action="{% url 'news_detail' news.slug %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit"> {% blocktrans %} Comentariya qoshish➕ {% endblocktrans %}</button>
              </form>
                <style>
                  .profile-img {
                      width: 40px; /* Kichik hajm */
                      height: 40px;
                      border-radius: 50%; /* Doira shakl */
                      object-fit: cover; /* Rasmni to'g'ri joylashtirish */
                  }
                  .comment {
                      display: flex;
                      align-items: center;
                      gap: 10px;
                      margin-bottom: 10px;
                  }
                  .comment h6 {
                      margin: 0;
                      font-size: 14px;
                      font-weight: bold;
                  }
                  .comment small {
                      font-size: 12px;
                      color: gray;
                  }
                  .comment p {
                      margin: 5px 0 0 50px;
                      font-size: 14px;
                  }
                </style>
              <h3> {% blocktrans %} Bildirilgan Fikrlar {% endblocktrans %}</h3>
                <hr>
                {% for comment in comments %}
                  <div class="comment">
                    {% if comment.user.profile.photo %}
                      <img src="{{ comment.user.profile.photo.url }}" alt="User Avatar" class="profile-img">
                    {% else %}
                      <img src="{% static 'sponsor/default-avatar.png' %}" alt="User Avatar" class="profile-img">
                    {% endif %}
                    <h6>{{ comment.user }} </h6> <small>{{ comment.created }}</small>
                    <p>{{ comment.body }}</p>
                  </div>
                    {% empty %}
                      <p> {% blocktrans %} Hali fikrlar yo‘q. {% endblocktrans %}</p>
                    {% endfor %}
            <div class="social_link">
              <ul class="sociallink_nav">
                <li><a href="https://x.com/Beksvoi"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://muydinbaevb@gmail.com"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="related_post">
              <h2> {% blocktrans %} Oxshash yangiliklar {% endblocktrans %} <i class="fa fa-thumbs-o-up"></i></h2>
              <ul class="spost_nav wow fadeInDown animated">
              {% for news in three_news %}
                <li>
                  <div class="media"> <a class="media-left" href="{{ news.get_absolute_url }}"> <img src="{{ news.image.url }}" alt=""> </a>
                    <div class="media-body"> <a class="catg_title" href="{{ news.get_absolute_url }}">{{ news.title }}</a> </div>
                  </div>
                </li>
              {% endfor %}
              </ul>
            </div>
        </div>
      </div>
      <nav class="nav-slit"> <a class="prev" href="#"> <span class="icon-wrap"><i class="fa fa-angle-left"></i></span>
        <div>
          <h3>Sayt yaratuvchisi👆</h3>
          <img src="{% static 'sponsor/bek.jpg'%}" alt=""/> </div>
        </a> <a class="next" href="#"> <span class="icon-wrap"><i class="fa fa-angle-right"></i></span>
        <div>
          <h3>Bek yangiliklari</h3>
          <img src="{% static 'sponsor/newslogo.webp'%}" alt=""/> </div>
        </a> </nav>
    </div>
  </section>


{% endblock %}